header
    ul
        li
            a(href="https://smashydesign.com" title="Smashy Design") Website
        li
            a(href="https://github.com/smashydesign/starter" title="Starter") Starter
        li
            a(href="mailto:developers@smashydesign.com?subject=Smashy%20Starter%20-%20Webpack%20for%20template%20building") Contact