doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Smashy Starter - Webpack for template building
  body
    include partials/header.pug
    #app
        #inner-app
            img#logo(src=require('./img/smashy-design.svg') alt="Smashy Design Logo")
            h1 Smashy Starter - Webpack for template building
            h3 For more info and instructions please visit our <a href="https://github.com/smashydesign/starter">repository.</a>
            h6#time
