doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title webpack 4 quickstart with pug
    link(rel='stylesheet', href='css/main.css')
  body
    #app
      | this is app background
    img(src='img/small-image.png')
    img(src='img/big-image.png')
