$yellow: #f0d63a;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: black;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'robotolight', serif;
    font-size: 20px;
    width: 100%;
    max-width: 600px;
    height: calc(100% - 100px);
    margin: 0 auto;
    color: white;
}

header {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        list-style: none;

        li {
            a {
                padding: 30px 20px;
                text-decoration: none;
                color: white;
                font-family: 'robotolight', serif;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
}

#inner-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 30px 0;
        text-align: center;
    }

    h3 {
        margin: 20px 0;
    }

    h6 {
        margin-top: 30px;
        color: #888;
    }
}

#logo {
    background-color: $yellow;
    padding: 20px;
    display: flex;
    width: 100px;
}

@font-face {
    font-family: 'robotolight';
    src: url('../font/Roboto-Light-webfont.eot');
    src:
        url('../font/Roboto-Light-webfont.eot?#iefix')
        format('embeddeed-opentype'),
        url('../font/Roboto-Light-webfont.woff') format('woff'),
        url('../font/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
